<style>
  footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .footerDiv {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
  }

  .headerDiv a {
    padding: 20px;
    text-transform: uppercase;
  }

  .footerDiv p {
    justify-content: center;
    text-align: center;
    padding: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
</style>

<footer>
  <div class="footerDiv">
    <p>Copyright 2023 Ewen Reynolds all rights reserved</p>
  </div>
</footer>