<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>To Do List App</title>
</head>

<style>
  .headerDiv {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
  }

  .headerDiv a {
    padding: 20px;
    text-transform: uppercase;
  }
</style>

<div class="headerDiv">
  <div>
    <a href="/Personal"> Personal </a>
  </div>

  <div>
    <a href="/Work"> Work </a>
  </div>

  <div>
    <a href="/Miscellaneous"> Miscellaneous </a>
  </div>
</div>