<%- include('partials/header_notAuthd') %>

<style>
  .btn-lg {
    min-width: 140px;
  }
</style>

<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-5">
      <% if (locals.error) { %>
      🤔 Oops! 🤔
      <% } else { %>
      Welcome
      <% } %>
    </h1>

    <% if (locals.error) { %>
    <div class="errorDiv">
      <h2><%= locals.error %></h2>
      <% } %>
    </div>

    <div class="container">
      <p>Please Login or Register to continue.</p>
      <div>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

        <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>