body {
  font-family: monospace;
  height: 100%;
}

h1,
h2 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding-bottom: 30px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taskDiv,
.pruneDiv,
.newTaskDiv {
  border: solid 2px black;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
}

.task {
  display: flex;
  border-bottom: solid 1px black;
}

.newTaskDiv,
.pruneDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pruneDiv {
  border: none;
  justify-content: center;
}

.newTaskDiv{
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

form p {
  padding-left: 6px;
}

input {
  border: solid 3px black;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 6px;
  height: 30px;
}

/* Strike-through paragraph text when it is for a checked item. */
input:checked+p {
  text-decoration: line-through;
}

.newTaskDiv input {
  min-width: 80%;
}

button {
  border: solid 3px black;
  font-weight: bold;
  border-radius: 5px;
  height: 36px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}

.newTaskDiv button {
  background-color: lightgreen;
  max-width: 80px;
}

.pruneDiv button {
  background-color: lightcoral;
  max-width: 230px;
}